<div class="box-all">
    <div>
        <h1>EM JUNHO <br>NO PLAYSTATION</h1>
        <p>
            Confira os maiores lançamentos deste mês, além de recursos exclusivos, guias e muito mais.
        </p>
    </div>
</div>

<div class="boxao">

<div class="box-all2">
        <div class="box-img">
            <div class="img">
                <img src="../../../assets/img/img3.png" alt="" width="100%" height="100%">
            </div>
            <div class="text">
                <h3>Novos lançamentos</h3>
                <p>Confira os maiores titulos novos desse mês, incluindo Elden Ring Shadow of the Erdtree.</p>
            </div>

        </div>
        <div class="box-img">
            <div class="img">
                <img src="../../../assets/img/img2.png" alt="" width="100%" height="100%">
            </div>
            <div class="text">
                <h3>Jogos Indie para PlayStation</h3>
                <p>Descubra os lançamentos indie mais inovadores e exclusivos deste mês, incluindo V Rising.</p>
            </div>

        </div>
        <div class="box-img">
            <div class="img">
                <img src="../../../assets/img/img1.png" alt="" width="100%" height="100%">
            </div>
            <div class="text">
                <h3>ÚLtimas atualizações</h3>
                <p>Fique em dia com os maiores novos eventos do mês, incluindo Call of Duty: Warzone - Temporada 04.</p>
            </div>

    </div>

    
</div>

<div class="botao">
        <button>
            Descubra mais
        </button>
    </div>
</div>