<div class="box-all">
    <div>
        <h1>Siga-nos nas redes sociais</h1>
    </div>
    <div class="logos">
        <a href="https://twitter.com/PlayStation" target="_blank">
            <img src="../../../assets/img/twitter.png" alt="" >
        </a>
        <a href="https://www.facebook.com/playstation/" target="_blank">
            <img src="../../../assets/img/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com/playstation/" target="_blank">
            <img src="../../../assets/img/instagram.png" alt="">
        </a>
        <a href="https://www.youtube.com/playstation" target="_blank">
            <img src="../../../assets/img/youtube.png" alt="">
        </a>

    </div>

</div>