<div class="carousel">
    <div class="carousel-slides" [style.transform]="transformStyle">
      <div class="carousel-item" *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
        {{ slide.content }}
      </div>
    </div>
    <div class="carousel-indicators">
      <img *ngFor="let slide of slides; let i = index"
           [src]="slide.thumbnail"
           [class.active]="i === currentIndex"
           (click)="goToSlide(i)">
    </div>
  </div>
  