<div class="box-all">
    <div class="box-info">
        <img src="../../../assets/img/plus-logo.png" alt="plus-logo" width="300px">
        <h1>Descubra o PlayStation Plus</h1>
        <p>Curta centenas de jogos para PS5 e PS4, além de clássicos do PlayStation. Descubra aventuras épicas, jogos
            independentes sem igual, favoritos para a família inteira e muito mais.</p>
    </div>

    <div class="box-carrossel">
        <swiper-container class="swiper" [slidesPerView]="2" centered-slides="true" loop="true" navigation="false" space-between="20" pagination="true">

            <swiper-slide>
                <div class="slide3">
                    <div>
                        <button> DELUXE</button>
                        <h1>PlayStation Plus Deluxe</h1>
                        <p>Aproveite todas as vantagens dos planos Extra e Essencial do PlayStation Plus, além de
                            benefícios
                            exclusivos, como a experimentação de jogos, o streaming na nuvel e o catálogo de clássicos.
                        </p>
                    </div>

                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide1">
                    <div>
                        <button> EXTRA</button>
                        <h1>PlayStation Plus Extra</h1>
                        <p>Baixe e curta centenas de jogos para PS5 e PS4 no catálogo de jogos, além de todas as
                            vantagens
                            do PlayStation Plus Essencial</p>
                    </div>

                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide2">
                   
                    <div>
                        <button> ESSENTIAL</button>
                        <h1>PlayStation Plus Essential</h1>
                        <p>Novos jogos todos os meses, modo multijogador online, descontos exclusivos na PS Store e
                            muito
                            mais, disponíveis com os três planos de assinatura do PlayStation Plus.</p>
                    </div>

                </div>
            </swiper-slide>

        </swiper-container>
    </div>

    <div class="box-botao">
        <button>Descubra o PlayStation Plus</button>
    </div>

</div>