<div class="all">
    <div class="box-links">
        <img src="../../../assets/playstation.svg" alt="" width="40px">
    
        <ul class="lista">
            <li><button>Jogos <mat-icon>expand_more</mat-icon></button></li>
            <li><button>PS5 <mat-icon>expand_more</mat-icon></button></li>
            <li><button>PS4 <mat-icon>expand_more</mat-icon></button></li>
            <li><button>Serviços <mat-icon>expand_more</mat-icon></button></li>
            <li><button>Acessórios <mat-icon>expand_more</mat-icon></button></li>
            <li><button>Notícias <mat-icon>expand_more</mat-icon></button></li>
            <li><button>Loja <mat-icon>expand_more</mat-icon></button></li>
            <li><button>Suporte <mat-icon>expand_more</mat-icon></button></li>
        </ul>
    </div>

    <div class="box-botoes">
        <div>
            <button class="iniciar"> Iniciar sessão</button>
            <button class="pesquisar">Pesquisar <mat-icon>search</mat-icon></button>
        </div>
    </div>
</div>
